.menu {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 250px;
    height: 100dvh;
    padding-left: 25px;
    padding-top: 25px;
}

.menu img {
    width: 14px;
    height: 14px;
    margin-bottom: 54px;
}

.menu .menu-links {
    display: flex;
    flex-direction: column;
}

.menu .menu-links a {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #1D2026;
    text-decoration: none;
    margin-bottom: 20px;
}