.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 34px;
}

.header img {
    cursor: pointer;
}

.header .header-navigation .logo {
    margin-right: 56.5px;
}

.header .header-navigation a {
    margin-right: 33px;
    text-decoration: None;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #69707D;
    cursor: pointer;
}

.header .header-account {
    display: flex;
    align-items: center;
    position: relative;
}

.header .header-account .avatar {
    width: 50px;
    height: 50px;
    margin-left: 46px;
}


@media (max-width: 500px) {
    .header {
        margin: 20px 24px 25px 24px;
    }

    .header-navigation a {
        display: none;
    }

    .header .header-navigation .logo {
        margin-left: 16px;
        margin-right: 0;
    }
    .header .header-account .avatar {
        margin-left: 22px;
        width: 24px;
        height: 24px;
    }
}