*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
}

.header .header-account .cart-overlay-empty {
  position: absolute;
  left: -240px;
  top: 60px;
}

.header .header-account .cart-overlay {
  position: absolute;
  left: -240px;
  top: 60px;
}


.app > hr {
  height: 1px;
  background-color: #E4E9F2;
  border: none;
  margin-bottom: 90px;
}

.product-content {
  display: flex;
  width: 100%;
}


@media (max-width: 500px) {
  .product-content {
    flex-direction: column;
  }

  .app > hr {
    display: none;
  }
}


@media (max-width: 500px) {
  .header .header-account .cart-overlay-empty, .header .header-account .cart-overlay {
    position: absolute;
    width: 100dvw;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}